
<div class="row">

	<div ng-include="'/app/components/toolbar/toolbar.html'"></div>
	<br/>
   	<div class="row">
   		<div class="col-sm-8">
   			<p>Welcome {{userName}}</p>
   		</div>
	   	<div class="col-sm-4">
	   		<button type="submit" class="btn btn-default">Cancel</button>
	   		<button type="submit" class="btn btn-warning">Save As Draft</button>
	   		<button type="submit" class="btn btn-danger" ng-click="saveNewRequest()">Submit</button>
	   	</div>
   	</div>
   	<br/>
   	
	<div class="panel panel-default">
	  <div class="panel-heading">Hospital & Client Info</div>
	  <div class="panel-body">
	    <!--  Veterinarian and Lab Row -->
	    <div class="row">
	    
	    	
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="vetId	" ng-model='newRequest.hospitalAndClientInfo.vet' placeholder="Veterinarian">
		    </div>
		   
		   <div class="col-sm-6">	    
				<div class="form-inline">
				  <div class="form-group">
						  <div class="input-group">
						  	<input type="text" class="form-control" id="labListId" ng-model="newRequest.hospitalAndClientInfo.labAccount" placeholder="Lab Account">
						  </div>
						  <div class="input-group">
								<select class="form-control" ng-model="newRequest.hospitalAndClientInfo.labs">
<!-- 						            <option>Select Lab</option> -->
									<option ng-repeat="lab in labsList"> {{lab}}</option>
									
							    </select>

						 </div> 
				  </div>
				</div>
			</div>
		</div>
		<br/>
		<!--  Clients  Row -->
		<div class="row">
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="vetId" ng-model= "newRequest.hospitalAndClientInfo.clientFirstName" placeholder="Client's First Name">
		    </div>
		    
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="labActId" ng-model= "newRequest.hospitalAndClientInfo.clientLastName" placeholder="Client's Last Name">
		    </div>
		    
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="labActId" ng-model= "newRequest.hospitalAndClientInfo.clientId" placeholder="Client's Id">
		    </div>
		    
		    <div class="col-sm-4">
			    <span >Is the client an employee? </span> &nbsp;
			    <label class="radio-inline">
				  <input  type="radio"  id="empoyeeRadio1" ng-click='isEmployee(true)' ng-model="newRequest.hospitalAndClientInfo.isEmployee" ng-checked="newRequest.hospitalAndClientInfo.isEmployee" >Yes
				</label>
				<label class="radio-inline">
				  <input type="radio"  id="empoyeeRadio2"  ng-click='isEmployee(false)' ng-checked="!newRequest.hospitalAndClientInfo.isEmployee" >No
				</label>
			</div>
		</div>
	  </div>
	</div> <!-- End of 1st pannel -->
	
	<div class="panel panel-default">
	  <div class="panel-heading">Patient Info</div>
	  	<div class="panel-body">
	  
		    <div class="row">
		    
		    	 <div class="col-sm-3">
			      <input type="text" class="form-control" id="vetId	" ng-model="newRequest.patientInfo.animalName" placeholder="Animal's Name">
			    </div>
			    
			     <div class="col-sm-1">
				       <select class="form-control" ng-model="newRequest.patientInfo.animalSex">
<!-- 						  <option>Sex</option> -->
						  <option ng-repeat="animalSex in animalSexList"> {{animalSex}}</option>
						</select>
				</div>
				
				<!-- Weight -->
				<div class="col-sm-3">	    
					<div class="form-inline">
					  <div class="form-group">
						  <div class="input-group">
						  	<input type="text" class="form-control" id="weightId" ng-model="newRequest.patientInfo.animalWeight"  placeholder="weight">
						  </div>
						  
						  <div class="input-group">
								<select class="form-control">
						          <option>LB</option>
						          <option>KG</option>
							    </select>
						 </div> 
					  </div>
					</div>
				</div>
				
				<!-- Age -->
				<div class="col-sm-4">	    
					<div class="form-inline">
						<div class="form-group">
								<label  for="ageLabId">Age:</label>
								    
							    <div class="input-group">
							      <select id="ageLabId" class="form-control" ng-model="newRequest.patientInfo.animalAgeYears">
<!-- 									  <option>Years</option> -->
									  <option ng-repeat="animalYears in animalAgeYearsList"> {{animalYears}}</option>
<!-- 									  <option>1</option> -->
<!-- 									  <option>2</option> -->
<!-- 									  <option>3</option> -->
<!-- 									  <option>4</option> -->
									</select>
							    </div>
								    
							    <div class="input-group">
							       <select  id="monghLabId" class="form-control" ng-model="newRequest.patientInfo.animalAgeMonths">
<!-- 									  <option>Months</option> -->
									  <option ng-repeat="animalYears in animalAgeMonthsList"> {{animalYears}}</option>
									</select>
							    </div>
							    
								{{ newRequest.patientInfo.animalAgeYears }} year<span ng-show="newRequest.patientInfo.animalAgeYears >1" >s</span> and {{ newRequest.patientInfo.animalAgeMonths}} month<span ng-show="newRequest.patientInfo.animalAgeMonths >1" >s</span>
						</div>
					</div>
				</div>
			</div>
		
			<br/>
			
			<div class="row">
			    
			     <div class="col-sm-4">
				      <select class="form-control" ng-model="newRequest.patientInfo.species">
						  <option  ng-repeat="aSpecies in speciesList"> {{aSpecies}}</option>
						</select>
			    </div>
			    
			    <div class="col-sm-4">
				      <select class="form-control" ng-model="newRequest.patientInfo.breeds">
						   <option ng-repeat="breed in breedsList"> {{breed}}</option>
						</select>
			    </div>
			</div>
		
	    </div>
	</div> <!--  End of Patient Info panel -->
	
	<div class="panel panel-default">
	  <div class="panel-heading">Requested Services</div>
	  <div class="panel-body">
	  		
	  		<div class="row">
				
		  		<div class="col-sm-5">
				    <label class="radio-inline">
					  <input type="radio" id="imagingRadio1" ng-click='isInterpretationOnly(true)'  ng-model="newRequest.requestedServices.isInterpretationOnly"  ng-checked="newRequest.requestedServices.isInterpretationOnly" >Interpretation Only
					</label>
					<label class="radio-inline">
						<input type="radio" id="imagingRadio2" ng-click='isInterpretationOnly(false)'  ng-checked="!newRequest.requestedServices.isInterpretationOnly" >Imaging (includes interpretation)
					</label>
				</div>
				
				<div class="col-sm-4">
			      <select class="form-control" ng-disabled="newRequest.requestedServices.isInterpretationOnly" ng-model="serviceCategory" >
			      		<option ng-selected="newRequest.requestedServices.isInterpretationOnly" ></option>
				      	<option ng-repeat='(key, value) in servicesList'>
					         {{key}}
					    </option>
					</select>
			    </div>
			    
			    <div class="col-sm-2">
				    <button  type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" ng-disabled="newRequest.requestedServices.isInterpretationOnly">
						  Request a service
					</button>
		  		</div>	
		  		 
		  		<div class="col-sm-1">
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" value="option1"> <span class="label label-danger">STAT</span>
					</label>
				</div>
				
				<div class="col-sm-6">
					<span ng-show="newRequest.requestedServices.selectedServices.length==0">No Services Added</span>
					
					<table class="table" ng-show="newRequest.requestedServices.selectedServices.length>0" >
				  	<thead>
				  		<tr>
				  			<th>Selected Services</th>
				  			<th></th>
				  		</tr>
				  	</thead>
				  	<tbody ng-repeat="aSvc in newRequest.requestedServices.selectedServices">
			        		<tr> 
					  			<td>{{aSvc}}</td>
					  			<td>
					  			 	<a href ng-click="deleteFilteredItem(aSvc.$hashKey, newRequest.requestedServices.selectedServices)">Remove </a>
					  			</td>
				  			</tr>
				  	</tbody>		
				  </table>
					
					
					
				</div>
			</div>
		 </div>
	  </div>
<!-- 	</div> -->
	
	<div class="panel panel-default">
	  <div class="panel-heading">Veterinarian Observation</div>
	    <div class="panel-body">
		  <div class="row">
			   <div class="col-sm-12">
				   <label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" ng-model="newRequest.vetObservation.anesthetized">Anesthetized?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox2" ng-model="newRequest.vetObservation.sedated">Sedated?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.fasted">Fasted?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.enema">Enema?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.painful">Painful?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.fractious">Fractious?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.shocky">Shocky?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.dyspneic">Dyspneic?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.fractious">Fractious?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.died">Died?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.euthanized">Euthanized?
					</label>
				</div>
				
				<div class="col-sm-12">
			  		<p> HISTORY, CHIEF COMPLAIN, PHYSICAL FINDINGS (S.O.A.P). Please provide a case summary, not the entire record.</p>
			   	</div>
			   
			    <div class="col-sm-12">
					  	<div class="form-group">	
						    <label for="exampleInputEmail1">Exam</label>
						    <textarea class="form-control" rows="3" ng-model="newRequest.vetObservation.exam"></textarea>
					    </div>
					  	<div class="form-group">
						    <label for="exampleInputEmail1">Tentative Diagnosis</label>
						    <textarea class="form-control" rows="3" ng-model="newRequest.vetObservation.tentativeDiagnosis"></textarea>
					    </div>
		    	</div>
		    </div>
	    </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Images / Documents</div>
	    <div class="panel-body">
		  	<div class="row">
		  		<div class="col-sm-12">
			  		<p>Please check <strong>all</strong> that applies: I am providing Images / documents with this request.</p>
			   	</div>
			   	
			   	
		   		<div class="col-sm-12">
		   		   <label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" ng-model="newRequest.imagesAndDocuments.hasDocumentDeliveredByUpload">By Upload
					</label>
				   <label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" ng-model="newRequest.imagesAndDocuments.hasDocumentDeliveredByCarrier">By Carrier
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox2" ng-model="newRequest.imagesAndDocuments.hasDocumentDeliveredByEmail">By Email
					</label>
				</div>
				
				<div class="col-sm-12">
				      
				    <div class="form-group">	
				  		<div  ng-show="newRequest.imagesAndDocuments.hasDocumentDeliveredByEmail">
				  		</br>
				  		<ul>
					  		<li>If you have <strong>not sent the email yet</strong>, please provide the number of this request in the subject of the email. </li>
						  	<li>If you have <strong>already sent the email</strong>, please copy and paste the subject of your email and the date the email was sent in the note below. It will help us find your email.</li>
					  	</ul>
					  </div>
				    </div>
				    
				    <div class="form-group">	
				  		<input type="text" class="form-control" id="carrieNameId" 
				  		ng-model="newRequest.patientInfo.animalWeight"  ng-show="newRequest.imagesAndDocuments.hasDocumentDeliveredByCarrier" 
				  		placeholder="Which Carrier did you use?  And what was the date you sent it?" >
				    </div>
		    	</div>
		    	
		    	
		    	 				
				<div class="col-sm-12">
				  	<div class="form-group">	
					    <label for="exampleInputEmail1">Notes</label>
					    <textarea class="form-control" ng-model="newRequest.imagesAndDocuments.notes" rows="3" placeholder="Please provide any information you would like to commmunicate..."></textarea>
				    </div>
		    	</div>
		    	
		    	<div class="col-sm-12">
		    		
					<div flow-init="{target:'/ami/doupload', testChunks:false, permanentErrors: [404, 500, 501], maxChunkRetries: 1,chunkRetryInterval: 5000,simultaneousUploads: 4, singleFile: false}" flow-name="uploader.flow"
					 flow-file-added="uploader.fileAdded($flow, $file, $message)"
					 flow-files-submitted ="uploader.fileSubmitted($flow, $file, $message)">     
				      
				        <button class="btn btn-primary" flow-btn ng-disabled="! newRequest.imagesAndDocuments.hasDocumentDeliveredByUpload">Add files
				        	<span class="btn-primary glyphicon glyphicon-plus" aria-hidden="true"></span>
				        </button>
				        
				        <button class="btn btn-primary" ng-click="upload()" ng-disabled="! newRequest.imagesAndDocuments.hasDocumentDeliveredByUpload">Upload
				        	<span class="btn-primary glyphicon glyphicon-upload" aria-hidden="true"></span>
				        </button>
				        
				        <table>
					        <tr ng-repeat="file in uploader.flow.files" >
					         	
					         	<td> <a ng-click="file.cancel()">Cancel upload for {{file.name}}</a></td>
					        </tr>
					        
					    </table>    
						</div>
		    	
		    	</div>
			</div>	
	    </div>
	</div>	    
	    
	    <!-- Modal -->
		<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">A.M.I Services</h4>
		      </div>
		      <div class="modal-body">
		      
		      	<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">{{serviceCategory}}</div>
				
				  <!-- Table -->
				  <table class="table">
				  	<thead>
				  		<tr>
				  			<th>Key</th>
				  			<th>Value</th>
				  			<th></th>
				  		</tr>
				  	</thead>
				  	<tbody ng-repeat="(key, value) in servicesList">
			        		<tr ng-repeat="aValue in value track by $index"> 
					  			<td>{{key}}</td>
					  			<td>{{aValue}}</td>
					  			<td>
					  			 	<button  type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="selectThisService(key,aValue)">Add</button>
					  			</td>
				  			</tr>
				  	</tbody>		
				  </table>
				</div>
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	    
</div>
	



