
<div class="row">

	<div ng-include="'/app/components/toolbar/toolbar.html'"></div>
	<br/>
	
	
	<form name="newRequestForm" ng-submit="saveNewRequest()"   >
   	<div class="row">
   		<div class="col-sm-8">
   			
<!-- 	<p ng-show="newRequestForm.$invalid && isShowIncompleteFormMsg"></p> -->
   	
   	
   	<p class="alert alert-warning" role="alert"  ng-show="newRequestForm.$invalid && isShowIncompleteFormMsg">You can't submit to radiologist until all required fields are provided. You can however save this request as a draft</p>
   		</div>
	   	<div class="col-sm-4" 	ng-mouseenter="showIncompleteFormMsg()" ng-mouseleave="dontShowIncompleteFormMsg()">
	   		<button type="submit"  class="btn btn-default" >Cancel</button>
	   		<button ng-click="setAction('draft')" type="submit" class="btn btn-warning">Save As Draft</button>
	   		<button ng-click="setAction('submit')" type="submit" class="btn btn-danger"  >Submit To Radiologist</button>
	   	</div>
   	</div>
   	<br/>
   	<p ng-show="hasBeenSaved()" >Your Request has been saved {{newRequest.requestNumber}} - {{newRequest.id}} -</p>
   	
   
	<div class="panel panel-default">
	  <div class="panel-heading"><strong>{{hospitalName}} &amp; Client Section</strong></div>
	  <div class="panel-body">
	    <!--  Veterinarian and Lab Row -->
	    <div class="row">
	    
	    	
		    <div class="col-sm-3">
		    	<div class="input-group input-group-sm" ng-class="{ 'has-error' : newRequestForm.vetId.$invalid }">
				   <span class="input-group-addon" id="vetRequiredIcon"> <span class="glyphicon glyphicon-asterisk" aria-hidden="true" id="vetRequiredIconSpan"></span></span>
				  <input aria-describedby="vetRequiredIcon" type="text" name="vetId" class="form-control" id="vet" ng-model='newRequest.hospitalAndClientInfo.vet' placeholder="Veterinarian" ng-required='isSubmit()'>
				</div>
		    </div>
		   
		   <div class="col-sm-6">	    
				<div class="form-inline">
				  <div class="form-group">
						  <div class="input-group">
						  	<input type="text" class="form-control" id="labActId" ng-model="newRequest.hospitalAndClientInfo.labAccount" placeholder="Lab Account">
						  </div>
						  <div class="input-group">
								<select class="form-control" ng-model="newRequest.hospitalAndClientInfo.labs">
									<option ng-selected="$index==0" ng-repeat="lab in labsList">{{lab}}</option>
							    </select>
						 </div> 
				  </div>
				</div>
			</div>
		</div>
		<br/>
		<!--  Clients  Row -->
		<div class="row">
		    <div class="col-sm-2">
			    <div class="form-group" ng-class="{ 'has-error' : newRequestForm.clientFirstName.$invalid && !newRequestForm.clientFirstName.$pristine }">
				    <input type="text" name="clientFirstName" class="form-control" ng-model="newRequest.hospitalAndClientInfo.clientFirstName" placeholder="Client's First Name" ng-required='isSubmit()'  >
				    <p ng-show="newRequestForm.clientFirstName.$invalid && !newRequestForm.clientFirstName.$pristine" class="help-block">required field</p>
				</div>
		    </div>
		    
		    <div class="col-sm-2">
		    	
		    	<div class="form-group" ng-class="{ 'has-error' : newRequestForm.clientLastName.$invalid && !newRequestForm.clientLastName.$pristine }">
				    <input type="text" name="clientLastName" class="form-control" ng-model="newRequest.hospitalAndClientInfo.clientLastName" placeholder="Client's Last Name" ng-required='isSubmit()'>
				    <p ng-show="newRequestForm.clientLastName.$invalid && !newRequestForm.clientLastName.$pristine" class="help-block">required field</p>
				</div>
		    
		    </div>
		    
		    <div class="col-sm-2">
		      <input type="text" class="form-control" id="labActId" ng-model= "newRequest.hospitalAndClientInfo.clientId" placeholder="Client's Id">
		    </div>
		    
		    <div class="col-sm-4">
			    <span >Is the client an employee? </span> &nbsp;
			    <label class="radio-inline">
				  <input  type="radio"  id="empoyeeRadio1" ng-click='isEmployee(true)' ng-model="newRequest.hospitalAndClientInfo.isEmployee" ng-checked="newRequest.hospitalAndClientInfo.isEmployee" >Yes
				</label>
				<label class="radio-inline">
				  <input type="radio"  id="empoyeeRadio2"  ng-click='isEmployee(false)' ng-checked="!newRequest.hospitalAndClientInfo.isEmployee" >No
				</label>
			</div>
		</div>
	  </div>
	</div> <!-- End of 1st pannel -->
	
	<div class="panel panel-default">
	  <div class="panel-heading"><strong>Patient Section</strong></div>
	  	<div class="panel-body">
	  
		    <div class="row">
		    
		    	<div class="col-sm-3">
			      <input type="text" class="form-control" id="animalNameId" ng-model="newRequest.patientInfo.animalName" placeholder="Animal's Name">
			    </div>
			    
			     <div class="col-sm-1">
				       <select class="form-control" ng-model="newRequest.patientInfo.animalSex">
						  <option ng-selected="$index==0" ng-repeat="animalSex in animalSexList"> {{animalSex}}</option>
						</select>
				 </div>
				 
				 
<!-- 				  <div class="col-sm-1 input-group input-group-xs" ng-class="{ 'has-error' : newRequestForm.animalSexId.$invalid }"> -->
<!-- 					    <span class="input-group-addon" id="animalSexRequiredIcon"> <span class="glyphicon glyphicon-asterisk" aria-hidden="true" ></span></span> -->
<!-- 						<select aria-describedby="animalSexRequiredIcon" id="animalSexId" name="animalSexId" class="form-control"  -->
<!-- 							ng-required='isSexNotSelected()' -->
<!-- 								ng-model="newRequest.patientInfo.animalSex"> -->
<!-- 						  <option ng-selected="$index==0" ng-repeat="animalSex in animalSexList"> {{animalSex}}</option> -->
<!-- 					   </select> -->
					
<!-- 				</div> -->
				 
				 
				 
				 
				 
				
				<!-- Weight -->
				<div class="col-sm-3">	    
					<div class="form-inline">
					  <div class="form-group">
						  	<input type="text" class="form-control" id="weightId" ng-model="newRequest.patientInfo.animalWeight"  placeholder="weight">
						  
								<select class="form-control">
						          <option>LB</option>
						          <option>KG</option>
							    </select>
					  </div>
					</div>
				</div>
				
				<!-- Age -->
				<div class="col-sm-5">	    
					<div class="form-inline">
						<div class="form-group">
								<label  for="ageLabId">Age:</label>
								    
							    <div class="input-group">
							      <select id="ageLabId" class="form-control" ng-model="newRequest.patientInfo.animalAgeYears" ng-change="updateAnimalYearsLabel()">
									  <option ng-selected="$index==0"  ng-repeat="animalYears in animalAgeYearsList"> {{animalYears}}</option>
									</select>
							    </div>
								    
							    <div class="input-group">
							       <select  id="monghLabId" class="form-control" ng-model="newRequest.patientInfo.animalAgeMonths" ng-change="updateAnimalYearsLabel()">
									  <option ng-selected="$index==0"  ng-repeat="animalMonths in animalAgeMonthsList"> {{animalMonths}}</option>
									</select>
							    </div>
							    
								{{ newRequest.patientInfo.ageLabel }} 
						</div>
					</div>
				</div>
			</div>
		
			<br/>
			
			<div class="row">
			     <div class="col-sm-4">
				    <select class="form-control" ng-model="newRequest.patientInfo.species" ng-change="updateBreedListBox()">
						 <option ng-selected="$index==0"  ng-repeat="aSpecies in speciesList"> {{aSpecies}}</option>
					</select>
			    </div>
			    
			    <div class="col-sm-4">
				      <select class="form-control" ng-model="newRequest.patientInfo.breeds" ng-disabled ="disableBreedList" >
						   <option ng-selected="$index==0"  ng-repeat="breed in breedsList"> {{breed}}</option>
						</select>
			    </div>
			</div>
		
	    </div>
	</div> <!--  End of Patient Info panel -->
	
	<div class="panel panel-default">
	  <div class="panel-heading"><strong>Requested Services</strong></div>
	  <div class="panel-body">
	  		
	  		<div class="row">
				
		  		<div class="col-sm-5">
				    <label class="radio-inline">
					  <input type="radio" id="imagingRadio1" ng-click='isInterpretationOnly(true)'  ng-model="newRequest.requestedServices.isInterpretationOnly"  ng-checked="newRequest.requestedServices.isInterpretationOnly" >Interpretation Only
					</label>
					<label class="radio-inline">
						<input type="radio" id="imagingRadio2" ng-click='isInterpretationOnly(false)'  ng-checked="!newRequest.requestedServices.isInterpretationOnly" >Imaging (includes interpretation)
					</label>
				</div>
				
				<div class="col-sm-4">
			      <select class="form-control" ng-disabled="newRequest.requestedServices.isInterpretationOnly" ng-model="serviceCategory" >
			      		<option ng-selected="newRequest.requestedServices.isInterpretationOnly" ></option>
				      	<option ng-repeat='(key, value) in servicesList'>
					         {{key}}
					    </option>
					</select>
			    </div>
			    
			    <div class="col-sm-2">
				    <button  type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" 
				    ng-click="updateServicesListByCategory()"
				    ng-disabled="newRequest.requestedServices.isInterpretationOnly">
						  Request a service
					</button>
		  		</div>	
		  		 
		  		<div class="col-sm-1">
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" value="option1"> <span class="label label-danger">STAT</span>
					</label>
				</div>
				
				<div class="col-sm-6">
					<span ng-show="newRequest.requestedServices.selectedServices.length==0">No Services Added</span>
					
					<table class="table" ng-show="newRequest.requestedServices.selectedServices.length>0" >
				  	<thead>
				  		<tr>
				  			<th>Selected Services</th>
				  			<th></th>
				  		</tr>
				  	</thead>
				  	<tbody ng-repeat="aSvc in newRequest.requestedServices.selectedServices">
			        		<tr> 
					  			<td>{{aSvc}}</td>
					  			<td>
					  			 	<a href ng-click="deleteFilteredItem(aSvc )">Remove </a>
					  			</td>
				  			</tr>
				  	</tbody>		
				  </table>
					
					
					
				</div>
			</div>
		 </div>
	  </div>
<!-- 	</div> -->
	
	<div class="panel panel-default">
	  <div class="panel-heading"><strong>Veterinarian Observation</strong></div>
	    <div class="panel-body">
		  <div class="row">
			   <div class="col-sm-12">
				   <label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" ng-model="newRequest.vetObservation.anesthetized">Anesthetized?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox2" ng-model="newRequest.vetObservation.sedated">Sedated?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.fasted">Fasted?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.enema">Enema?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.painful">Painful?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.fractious">Fractious?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.shocky">Shocky?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.dyspneic">Dyspneic?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.fractious">Fractious?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.died">Died?
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" ng-model="newRequest.vetObservation.euthanized">Euthanized?
					</label>
				</div>
				
				<div class="col-sm-12">
			  		
			   	</div>
			   
			    <div class="col-sm-12">
					  	<div class="form-group">	
<!-- 						    <label for="exampleInputEmail1">Exam</label> -->
							<div class="form-group" ng-class="{ 'has-error' : newRequestForm.exam.$invalid && !newRequestForm.exam.$pristine }">
							    <textarea name="exam" id="exam" class="form-control" rows="3" ng-model="newRequest.vetObservation.exam" ng-required='isSubmit()'
							    placeholder="HISTORY, CHIEF COMPLAIN, PHYSICAL FINDINGS (S.O.A.P). Please provide a summary, not the entire record." ></textarea>
							    <p ng-show="newRequestForm.exam.$invalid && !newRequestForm.exam.$pristine" class="help-block">required field</p>
							</div>
					    </div>
					  	<div class="form-group">
<!-- 						    <label for="exampleInputEmail1">Tentative Diagnosis</label> -->
						    
						    <div class="form-group" ng-class="{ 'has-error' : newRequestForm.tentativeDiagnosis.$invalid && !newRequestForm.tentativeDiagnosis.$pristine }">
							    <textarea name="tentativeDiagnosis" id="tentativeDiagnosis" class="form-control" rows="3" ng-model="newRequest.vetObservation.tentativeDiagnosis" ng-required='isSubmit()'
							     placeholder="Tentative Diagnosis" ></textarea>
							    <p ng-show="newRequestForm.tentativeDiagnosis.$invalid && !newRequestForm.tentativeDiagnosis.$pristine" class="help-block">required field</p>
							</div>
						    
					    </div>
		    	</div>
		    </div>
	    </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading"><strong>Images / Documents </strong></div>
	    <div class="panel-body">
		  	<div class="row">
		  		<div class="col-sm-12">
			  		<p>Please check <strong>all</strong> that applies: I am providing Images / documents with this request.</p>
			   	</div>
			   	
			   	
		   		<div class="col-sm-12">
		   		<span id = "uploadCheckCheckboxDivId" ng-mouseleave="hoverOut()">
		   		   <label class="checkbox-inline" >
					
					  <input type="checkbox" id="uploadCheckCheckbox" ng-disabled="hoverEdit"
					  ng-model="newRequest.imagesAndDocuments.hasDocumentDeliveredByUpload"
					  ng-mouseenter="hoverIn()" 
					  />By Upload
					</label>
				</span>	
				   <label class="checkbox-inline">
					  <input type="checkbox" id="carrierCheckboxId" ng-model="newRequest.imagesAndDocuments.hasDocumentDeliveredByCarrier">By Carrier
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="deliveredByEmailCheckboxId" ng-model="newRequest.imagesAndDocuments.hasDocumentDeliveredByEmail">By Email
					</label>
				</div>
				<div class="col-sm-12">
<!-- 				 <div ng-show="!hasBeenSaved()" style="color:red">The Upload check box is currently disabled. To enable it, you must first save as draft. See the orange button above.</div> -->
				 <div id="msg" ng-show="hoverEdit" style="color:red">The Upload check box is currently disabled. To enable it, you must first save as draft. See the orange button above.</div>
				</div>
				
				<div class="col-sm-12">
				      
				    <div class="form-group">	
				  		<div  ng-show="!hasBeenSaved()">
				  		</br>
				  		<ul>
					  		<li>If you have <strong>not sent the email yet</strong>, please provide the number of this request in the subject of the email. </li>
						  	<li>If you have <strong>already sent the email</strong>, please copy and paste the subject of your email and the date the email was sent in the note below. It will help us find your email.</li>
					  	</ul>
					  </div>
				    </div>
				    
				    <div class="form-group">	
				  		<input type="text" class="form-control" id="carrieNameId" 
				  		ng-model="newRequest.patientInfo.animalWeight"  ng-show="newRequest.imagesAndDocuments.hasDocumentDeliveredByCarrier" 
				  		placeholder="Which Carrier did you use?  And what was the date you sent it?" >
				    </div>
		    	</div>
		    	
		    	
		    	 				
				<div class="col-sm-12">
				  	<div class="form-group">	
					    <label for="exampleInputEmail1">Notes</label>
					    <textarea class="form-control" ng-model="newRequest.imagesAndDocuments.notes" rows="3" placeholder="Please provide any information you would like to commmunicate..."></textarea>
				    </div>
		    	</div>
		    	
		    	
		    	
				        
		    	<div class="col-sm-12">
		    		
					<div flow-init="{target:'/ami/doupload', testChunks:false, permanentErrors: [404, 500, 501], maxChunkRetries: 1,chunkRetryInterval: 5000,simultaneousUploads: 4, singleFile: false}" flow-name="uploader.flow"
					 flow-file-added="uploader.fileAdded($flow, $file, $message)"
					 flow-files-submitted ="uploader.fileSubmitted($flow, $file, $message)">     
				        
				        <br/><br/>
				        <button class="btn btn-primary" flow-btn ng-disabled="! newRequest.imagesAndDocuments.hasDocumentDeliveredByUpload">Add files
				        	<span class="btn-primary glyphicon glyphicon-plus" aria-hidden="true"></span>
				        </button>
				        
				        <button class="btn btn-primary" ng-click="upload()" ng-disabled="! newRequest.imagesAndDocuments.hasDocumentDeliveredByUpload">Upload
				        	<span class="btn-primary glyphicon glyphicon-upload" aria-hidden="true"></span>
				        </button>
				        
				        <br/>
				        <table>
					        <tr ng-repeat="file in uploader.flow.files" >
					         	<td> <a ng-click="file.cancel()">Cancel upload for {{file.name}}</a></td>
					        </tr>
					        
					    </table>    
						</div>
		    	
		    	</div>
			</div>	
	    </div>
	</div>	    
</form>	    
	    <!-- Modal -->
		<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">A.M.I Services</h4>
		      </div>
		      <div class="modal-body">
		      
		      	<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">{{serviceCategory}} Services</div>
				
				  <!-- Table -->
				  <table class="table">
				  	<thead>
				  		<tr>
				  			<th></th>
				  		</tr>
				  	</thead>
				  	<tbody ng-repeat="aService in servicesListByCategory">
<!-- 			        		<tr ng-repeat="aValue in value track by $index">  -->
<!-- 					  			<td>{{key}}</td> -->
<!-- 					  			<td>{{aValue}}</td> -->
<!-- 					  			<td> -->
<!-- 					  			 	<button  type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="selectThisService(key,aValue)">Add</button> -->
<!-- 					  			</td> -->
<!-- 				  			</tr> -->
			        		<tr> 
					  			<td>{{aService}}</td>
					  			<td>
					  			 	<button  type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="selectThisService(serviceCategory, aService)">Add</button>
					  			</td>
				  			</tr>
				  	</tbody>		
				  </table>
				</div>
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	    
</div>
	



