<div class="row">
	<div ng-include="'/app/components/toolbar/toolbar.html'"></div>
	
	<div class="panel panel-default">
	  <div class="panel-heading"><strong>{{hospital.hospital.name}}</strong> Information</div>
	  <div class="panel-body">
		<!--  Clients  Row -->
		<div class="row">
			<div class="col-sm-12" ng-show="masterUser" >
			    <div class="form-group">
				    <a href="#/newUser" >Create New User</a>
				</div>
		    </div>
		    
		   
		    <div class="col-sm-2">
<!-- 		    	<label for="hospitalMainPhoneId">Phone/Fax</label> -->
				 <table ng-repeat="aPhone in hospital.hospital.phones" >
				     	<tr>
				     		<td align="left"><strong>{{aPhone.label}}</strong></td>
				     	</tr>
				     	<tr>
				     		<td align="left">{{aPhone.value}}</td>
				     	</tr>
				  </table>
		    </div>
		     <div class="col-sm-4">
<!-- 		    	<label for="hospitalAddressId">Address</label> -->
<!-- 			    <div class="form-group"> -->
<!-- 				    <p id="hospitalAddressId"  >{{hospital.hospital.address}}</p> -->
<!-- 				</div> -->
				 <table ng-repeat="anAddress in hospital.hospital.addresses" >
				     	<tr>
				     		<td align="left"><strong>{{anAddress.label}}</strong></td>
				     	</tr>
				     	<tr>
				     		<td align="left">{{anAddress.value}}</td>
				     	</tr>
				  </table>
				
				
		    </div>
		     <div class="col-sm-4">
<!-- 		    	<label for="hospitalAddressId">Default Emails </label> -->
			    <div class="form-group">
				     <table ng-repeat="anEmail in hospital.hospital.emails" >
				     	<tr>
				     		<td align="left"><strong>{{anEmail.label}}</strong></td>
				     	</tr>
				     	<tr>
				     		<td align="left">{{anEmail.value}} </td>
				     	</tr>
				     </table>
				</div>
		    </div>
		    
		   
		      <div class="col-sm-12">
		       <br/>
			    <div class="form-group">
					<div class="panel panel-default">
					  <!-- Default panel contents -->
					  <div class="panel-heading"><strong>{{hospital.hospital.name}}</strong> Users</div>
					
					  <!-- Table -->
					  <table class="table">
					     <thead>
						   <tr>
						   	<th>User Name</th>
						   	<th>First Name</th>
						   	<th>Last Name</th>
						   	<th>Email</th>
						   	<th></th>
						   </tr>
						  </thead>
						  <tbody>
						   <tr ng-repeat="anAmiUser in hospital.amiUsers">
						   	<td>{{anAmiUser.user}}</td>
						   	<td>{{anAmiUser.firstName}}</td>
						   	<td>{{anAmiUser.lastName}}</td>
						   	<td>{{anAmiUser.email}}</td>
						   	<td><a ng-show="masterUser" href="#/profile" >Edit User</a></td>
						   </tr>
						   </tbody>
					</table>
					</div>
				    
				</div>
		    </div>
		    
		</div>
	  </div>
	</div> 
	
	
</div>
