<div class="row">
	<div ng-include="'/app/components/toolbar/toolbar.html'"></div>
	<br/>
	<h1>Submitted Requests</h1><br/><br/><br/>
		                	  
		                	  
<div flow-init="{target:'/ami/doupload', testChunks:false, permanentErrors: [404, 500, 501], maxChunkRetries: 1,chunkRetryInterval: 5000,simultaneousUploads: 4, singleFile: true}" flow-name="uploader.flow"
	 flow-file-added="uploader.fileAdded($flow, $file, $message)"
	 flow-files-submitted ="uploader.fileSubmitted($flow, $file, $message)"
     >     
      
       I have uploaded files: #{{$flow.files.length}}
	
        
        <button flow-btn>Add files</button>
        <button ng-click="upload()">Upload</button>
        <div ng-repeat="file in uploader.flow.files" >
          {{file.name}} -  [ {{file.msg}} ]  <a ng-click="file.cancel()">X</a>
        </div>
        Total files #{{uploader.flow.files.length}}
</div>
</div>
