<div class="row">
	<div ng-include="'/app/components/toolbar/toolbar.html'"></div>
	<br/>
		<ul class="nav nav-tabs">
		  <li role="presentation" ng-class="{'active' : searchType=='draftRequests'}"><a href="#/searchRequest/draftRequests/all" ng-click="searchType = 'draftRequests'">Draft Requests <span class="badge">{{draftRequests.length}}</span></a></li>
		  <li role="presentation" ng-class="{'active' : searchType=='pendingRequests'}"><a ng-href="#/searchRequest/pendingRequests/all" ng-click="searchType = 'pendingRequests'" >Pending Requests <span class="badge">{{pendingRequests.length}}</span></a></li>
		  <li role="presentation"ng-class="{'active' : searchType=='all'}"><a href="#/searchRequest/all/all" ng-click="searchType = 'all'">Search</a></li>
		</ul>  
		
		<br/>    
		<div class="page-header" ng-show="searchType=='pendingRequests'">
		  <h4>Pending Requests <small>are requests that have been <strong>submitted to the radiologist but have not yet been processed</strong>. Pending Requests can still be modified.</small></h4>
		   <h6 ng-show=pendingRequests.length==0">You currently have no pending requests.</h6>	
		</div>
		<div class="panel panel-primary" ng-show="searchType=='pendingRequests' && pendingRequests.length>0">
		    
		     <table class="table">
			     <thead>
			       <tr>
			       	<td> <input type="text" class="form-control" ng-model="pendgingSarchFilter"  placeholder="Filter Pending Cases" ></td>
			       </tr>
			       
				   <tr>
				   	<th>Request Number</th>
				   	<th>Veterinarian</th>
				   	<th>Animal</th>
				   	<th>Species</th>
				   	<th>Client</th>
				   	<th>Submitted Date</th>
				   </tr>
				  </thead>
				  <tbody>
				   <tr ng-repeat="aPendingRequest in pendingRequests | filter: pendgingSarchFilter ">
				   	<td><a href="#/editRequest1/{{aPendingRequest.caseNumber}}"  ng-click="tab = 4">View Request {{aPendingRequest.caseNumber}}</a></td>
				   	<td>{{aPendingRequest.amiRequest.hospitalAndClientInfo.vet}}</td>
				   	<td>{{aPendingRequest.amiRequest.patientInfo.animalName}}</td>
				   	<td>{{aPendingRequest.amiRequest.patientInfo.species}} - {{aPendingRequest.amiRequest.patientInfo.breeds}}</td>
				   	<td>{{aPendingRequest.amiRequest.hospitalAndClientInfo.clientFirstName}} {{aPendingRequest.amiRequest.hospitalAndClientInfo.clientLastName}}</td>
				   	<td>{{ aPendingRequest.hasBeenSavedAndSubmittedToRadiologist  |  jsonDate: 'dd MMM yyyy, h:mm a' }} </td>
				   
				   </tr>
				   </tbody>
			</table>
		
		  <!-- Table -->
		  <table class="table">
		    
		  </table>
		</div>
		
		<div class="page-header" ng-show="searchType=='draftRequests'">
		  <h4>Draft Requests <small>are requests that have been saved as draft. They won't be processed until they are submitted to the radiologist.</small></h4>
		   <h6 ng-show=draftRequests.length==0">You currently have no draft requests.</h6>	
		</div>
		
		  	
		<div class="panel panel-primary" ng-show="searchType=='draftRequests' && draftRequests.length>0">
		  <!-- Table -->
		  <table class="table">
		     <thead>
		      <tr>
			       <td> <input type="text" class="form-control" ng-model="draftSarchFilter"  placeholder="Filter draft cases" ></td>
			   </tr>
			   <tr>
			   	<th>Request Number</th>
			   	<th>Veterinarian</th>
			   	<th>Animal</th>
			   	<th>Species</th>
			   	<th>Client</th>
			   	<th>Last Update Date</th>
			   </tr>
			  </thead>
			  <tbody>
			   <tr ng-repeat="aDraftRequest in draftRequests | filter: draftSarchFilter ">
			   	<td><a href="#/editRequest/{{aDraftRequest.caseNumber}}"  ng-click="tab = 4">Edit Request {{aDraftRequest.caseNumber}}</a></td>
			   	<td>{{aDraftRequest.amiRequest.hospitalAndClientInfo.vet}}</td>
			   	<td>{{aDraftRequest.amiRequest.patientInfo.animalName}}</td>
			   	<td>{{aDraftRequest.amiRequest.patientInfo.species}} - {{aDraftRequest.amiRequest.patientInfo.breeds}}</td>
			   	<td>{{aDraftRequest.amiRequest.hospitalAndClientInfo.clientFirstName}} {{aDraftRequest.amiRequest.hospitalAndClientInfo.clientLastName}}</td>
			   	<td>{{ aDraftRequest.updateDate  | jsonDate: 'dd MMM yyyy, h:mm a' }} </td>
			   </tr>
			   </tbody>
		</table>
		</div>
		
		
		<div class="panel panel-primary" ng-show="searchType=='all'">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Search by criteria</div>
		  <div class="panel-body">
		  <div class="navbar-form navbar-left" role="search">
			  <div class="form-group">
			  
			    <select class="form-control" ng-model="searchBy" ng-change="updateSearchInputDisplay()"> 
				          <option ng-selected="true">Search By</option>
				          <option>Request Number</option>
				          <option>Animal Name</option>
				          <option>Client Last Name</option>
				          <option>Request Submitted Date</option>
				          <option>Last 50 Requests</option>
 					   </select>
 					   
 					   <input ng-disabled="!isSearchAllowed" type="text" class="form-control" ng-model="searchByInput1"  placeholder="{{searchByPlaceHolder1}}" ng-show ="searchByInput1Visible && !isDateSearch">
 					  
 					   <input ng-disabled="!isSearchAllowed" type="text" class="form-control" ng-model="searchByInput1"  
 					   placeholder="{{searchByPlaceHolder1}}" ng-show ="searchByInput1Visible && isDateSearch"
 					   data-date-format="MM/dd/yyyy" data-max-date="searchByInput2" bs-datepicker>
 					  
 					  
 					   <input type="text" class="form-control" ng-model="searchByInput2"  placeholder="{{searchByPlaceHolder2}}" ng-show ="searchByInput2Visible" 
 					   data-date-format="MM/dd/yyyy" data-min-date="searchByInput2"  bs-datepicker>
			  </div>
			  
			  <button ng-disabled="!isSearchAllowed || (searchByInput1.length==0 && !isSearchByLast50Requests )" type="submit" class="btn btn-primary" ng-click="doSearch()">Search</button>
		   </div>
		  </div>
		
		  <!-- Table -->
		  <br/>
		  </div>
		
	  	<table class="table">
		     <thead>
			       <tr>
			       	<td ng-show="searchResults.length>0"> <input type="text" class="form-control" ng-model="searchFilter"  placeholder="Filter table" ></td>
			       	<td ng-show="searchType=='all' && searchClicked"><span class="badge">{{searchResults.length}} results found</span></td>
			       </tr>
				   <tr ng-show="searchResults.length>0">
				   	<th>Request Number</th>
				   	<th>Veterinarian</th>
				   	<th>Animal</th>
				   	<th>Species</th>
				   	<th>Client</th>
				   	<th>Submitted Date</th>
				   	<th>Case Closed Date</th>
				   </tr>
			  </thead>
			  <tbody ng-show="searchResults.length>0">
				   <tr ng-repeat="aSearchResult in searchResults | filter: searchFilter" >
				   	<td><a ng-show="aSearchResult.editable" href="#/editRequest/{{aSearchResult.caseNumber}}"  ng-click="tab = 4">Edit Case {{aSearchResult.caseNumber}}</a>
				   		<a ng-show="!aSearchResult.editable" href="#/editRequest1/{{aSearchResult.caseNumber}}"  ng-click="tab = 4">View Case {{aSearchResult.caseNumber}}</a>
				   	</td>
				   	<td>{{aSearchResult.amiRequest.hospitalAndClientInfo.vet}}</td>
				   	<td>{{aSearchResult.amiRequest.patientInfo.animalName}}</td>
				   	<td>{{aSearchResult.amiRequest.patientInfo.species}} - {{aSearchResult.amiRequest.patientInfo.breeds}}</td>
				   	<td>{{aSearchResult.amiRequest.hospitalAndClientInfo.clientFirstName}} {{aSearchResult.amiRequest.hospitalAndClientInfo.clientLastName}}</td>
				   	<td>{{ aSearchResult.hasBeenSavedAndSubmittedToRadiologist | jsonDate: 'dd MMM yyyy, h:mm a' }} </td>
				   	<td>{{ aSearchResult.caseClosed  | jsonDate: 'dd MMM yyyy, h:mm a' }} </td>
				   </tr>
			   </tbody>
		</table>
<!-- 		</div> -->

</div>
