
<br/>

	<nav class="nav nav-pills">
<!-- 		<section ng-init = "tab = 1" > -->
	<section >
			<ul class="nav nav-pills">
			  <li role="presentation" ng-class="{'active' : page=='readCases'}"><a ng-href="#/hospitalAdminSubmittedRequests" >Read Cases</a></li>
			  <li role="presentation" ng-class="{'active' : page=='caseReview'}"><a ng-href="#/hospitalAdminReviewCases" >Review Cases</a></li>
			  <li role="presentation" ng-class="{'active' : page=='hospitalAdmin'}"><a ng-href="#/hospitalAdminSearch" >Hospital Admin</a></li>
			  <li role="presentation"><a href="/j_spring_security_logout" /> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>  Logout</a></li>
			  
			  
			  
			</ul>
		</section>
	</nav>
<br/>	
