
<br/>

	<nav class="nav nav-pills">
<!-- 		<section ng-init = "tab = 1" > -->
	<section >
			<ul class="nav nav-pills">
			  <li role="presentation" ng-class="{'active' : page=='caseQueue'}"><a ng-href="#/" >Case Queue</a></li>
			  <li role="presentation" ng-class="{'active' : page=='hospitalAdmin'}"><a ng-href="#/hospitalAdmin" >Setup New Hospital</a></li>
			  <li role="presentation"><a href="/j_spring_security_logout" /> <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>  Logout</a></li>
			  
			  
			  
			</ul>
		</section>
	</nav>
<br/>	
