<div class="row">
	<div ng-include="'/ami/app/components/toolbar/toolbaradmin.html'"></div>
</div>

<div class="row">
  	<ul class="nav nav-tabs">
	  <li role="presentation" ng-class="{'active' : searchType=='newCasesStat'}"><a href="#/hospitalAdminReviewCases" ng-click="searchType = 'newCasesStat'"> <span class="label label-danger">New STATs</span> <span class="badge">{{statsAmiRequests.length}}</span></a></li>
	  <li role="presentation" ng-class="{'active' : searchType=='newCases'}"><a href="#/hospitalAdminReviewCases" ng-click="searchType = 'newCases'">New Cases <span class="badge">{{newCases.length}}</span></a></li>
	</ul>  
		
	<br/>   
		
	<div class="panel panel-warning" ng-show="searchType=='newCasesStat'">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><b><span style="color:orange">Review Case</span></b></div>
	  <div class="panel-body">
	     <table class="table">
		     <thead>
			   <tr>
			   	<th>Case Number</th>
			   	<th>Account</th>
			   	<th>Contract</th>
			   	<th>Hospital</th>
			   	<th>Veterinarian</th>
			   	<th>Client</th>
			   	<th>Animal</th>
			   	<th>Species</th>
			   	<th>Breed</th>
			   	<th>Age</th>
			   </tr>
			  </thead>
			  <tbody>
			   <tr ng-repeat="aNewCase in statsAmiRequests">
			   	<td><a href="#/hospitalAdminProcessCase/{{aNewCase.caseNumber}}"  >Review Case {{aNewCase.caseNumber}}</a></td>
			   	<td>{{aNewCase.accountSize}}</td>
			   	<td>{{aNewCase.contract}}</td>
			   	<td>{{aNewCase.hospitalName}}</td>
			   	<td>{{aNewCase.amiRequest.hospitalAndClientInfo.vet}}</td>
			   	<td>{{aNewCase.amiRequest.hospitalAndClientInfo.clientFirstName}} {{aNewCase.amiRequest.hospitalAndClientInfo.clientLastName}}</td>
			   	<td>{{aNewCase.amiRequest.patientInfo.animalName}} </td>
			   	<td>{{aNewCase.amiRequest.patientInfo.species}}</td>
			   	<td>{{aNewCase.amiRequest.patientInfo.breeds}}</td>
			   	<td>{{aNewCase.amiRequest.patientInfo.animalAgeYears}} {{aNewCase.amiRequest.patientInfo.animalAgeMonths}}</td>
			   </tr>
			   </tbody>
		</table>
	  </div>
	</div>
		
		      	  
	<div class="panel panel-warning" ng-show="searchType=='newCases'">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><b><span style="color:orange">Review Case</span></b></div>
	  <div class="panel-body">
	     <table class="table">
		     <thead>
			   <tr>
			   	<th>Case Number</th>
			   	<th>Account</th>
			   	<th>Contract</th>
			   	<th>Hospital</th>
			   	<th>Veterinarian</th>
			   	<th>Client</th>
			   	<th>Animal</th>
			   	<th>Species</th>
			   	<th>Breed</th>
			   	<th>Age</th>
			   </tr>
			  </thead>
			  <tbody>
			   <tr ng-repeat="aNewCase in newCases">
			   	<td><a href="#/hospitalAdminProcessCase/{{aNewCase.caseNumber}}"  >Review Case {{aNewCase.caseNumber}}</a></td>
			   	<td>{{aNewCase.accountSize}}</td>
			   	<td>{{aNewCase.contract}}</td>
			   	<td>{{aNewCase.hospitalName}}</td>
			   	<td>{{aNewCase.amiRequest.hospitalAndClientInfo.vet}}</td>
			   	<td>{{aNewCase.amiRequest.hospitalAndClientInfo.clientFirstName}} {{aNewCase.amiRequest.hospitalAndClientInfo.clientLastName}}</td>
			   	<td>{{aNewCase.amiRequest.patientInfo.animalName}} </td>
			   	<td>{{aNewCase.amiRequest.patientInfo.species}}</td>
			   	<td>{{aNewCase.amiRequest.patientInfo.breeds}}</td>
			   	<td>{{aNewCase.amiRequest.patientInfo.animalAgeYears}} {{aNewCase.amiRequest.patientInfo.animalAgeMonths}}</td>
			   </tr>
			   </tbody>
		</table>
	  </div>
	</div>
		
</div>
