<div ng-include="'/ami/app/components/toolbar/toolbaradmin.html'"></div>


<form name="newHospitalForm" ng-submit="saveNewHospital()"   >
<div class="row">
	<div class="col-sm-12">
	<ol class="breadcrumb">
	  <li><a href="#/hospitalAdminSearch">Hospital Admin</a></li>
	  <li class="active"><strong>Update {{hospital.name}}</strong></li>
	</ol>
	</div>
	
</div>
<div class="row">
	
<!-- </div>	  		 -->
	<div class="panel panel-primary">
	  <div class="panel-heading"><strong>Update Master User</strong></div>
	  <div class="panel-body">
	  		
	  	<div class="col-sm-12">
			<table class="table">
				<thead>
					<tr>
					
						<th>User Name</th>
						<th><a ng-click="updateMasterUserPwd()" href =""  data-toggle="modal" data-target="#updateMasterUserModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Password</a></th>
						<th><a ng-click="updateMasterUserEmail()" href=""  data-toggle="modal" data-target="#updateMasterUserModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Email</a></th>
						<th><a ng-click="updateMasterUserFirstName()" href=""  data-toggle="modal" data-target="#updateMasterUserModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>First Name</a></th>
						<th><a ng-click="updateMasterUserLastName()" href=""  data-toggle="modal" data-target="#updateMasterUserModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Last Name</a></th>
						<th><a ng-click="updateMasterUserOccupation()" href=""  data-toggle="modal" data-target="#updateMasterUserModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Occupation</a></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{masterUser.user}}</td>
						<td>{{masterUser.pwd}}</td>
						<td>{{masterUser.email}}</td>
						<td>{{masterUser.firstName}}</td>
						<td>{{masterUser.lastName}}</td>
						<td>{{masterUser.occupation}}</td>
					
					</tr>
				</tbody>
				
			</table>
	    </div>
	    <div class="col-sm-1">
   			<button  data-toggle="modal" data-target="#swtichMasterUserModal" class="btn btn-primary" >Switch Master User</button>
   		</div>
	  
	  </div>
	</div>

<div class="panel panel-primary">
  <div class="panel-heading"><strong>Update Hospital</strong></div>
  <div class="panel-body">	  
	<div class="row">
	
		<div class="col-sm-12">
			<table class="table">
				<thead>
					<tr>
						<th>Hospital Name</th>
						<th><a ng-click="updateHospitalAcronym()" href =""  data-toggle="modal" data-target="#updateHospitalStringModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Acronym</a></th>
						<th><a ng-click="updateHospitalPhone()" href =""  data-toggle="modal" data-target="#updateHospitalModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Phone</a></th>
						<th><a ng-click="updateHospitalEmails()" href =""  data-toggle="modal" data-target="#updateHospitalModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Email</a></th>
						<th><a ng-click="updateHospitalAddresses()" href =""  data-toggle="modal" data-target="#updateHospitalModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Address</a></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{hospital.name}}</td>
						<td>{{hospital.acronym}}</td>
						<td>
							<table ng-repeat="aPhone in hospital.phones" >
								<tr>
									<th>{{aPhone.label}}</th>
								</tr>
								<tr>
									<td>{{aPhone.value}}</td>
								</tr>
							</table>
						</td>
						<td>
							<table ng-repeat="anEmail in hospital.emails" >
								<tr>
									<th>{{anEmail.label}}</th>
								</tr>
								<tr>
									<td>{{anEmail.value}}</td>
								</tr>
							</table>
						</td>
						<td>
							<table ng-repeat="anAddress in hospital.addresses" >
								<tr>
									<th>{{anAddress.label}}</th>
								</tr>
								<tr>
									<td>{{anAddress.value}}</td>
								</tr>
							</table>
						</td>
					
					</tr>
				</tbody>
				
			</table>
	    </div>
	
		<div class="col-sm-12">
		
			<table class="table">
				<thead>
					<tr>
						<th><a ng-click="updateHospitalContract()" href =""  data-toggle="modal" data-target="#updateHospitalContractAndAcctModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Contract</a></th>
						<th><a ng-click="updateHospitalAccountSize()" href =""  data-toggle="modal" data-target="#updateHospitalContractAndAcctModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Account Size</a></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{hospital.contract}}</td>
						<td>{{hospital.accountSize}}</td>
					</tr>
				</tbody>
			</table>
		
		</div>
		<div class="col-sm-12">
			<table class="table">
				<thead>
					<tr>
						<th><a ng-click="updateHospitalNotes()" href =""  data-toggle="modal" data-target="#updateHospitalStringModal" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Notes</a></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{hospital.notes}}</td>
					</tr>
				</tbody>
				
			</table>
	    </div>
	    
	</div>
</div>
</div>
</div>

</form>
	



<!-- New Phone Modal -->
<div class="modal fade bs-example-modal-lg" id="addPhoneModal" tabindex="-1" role="dialog" 
	aria-labelledby="addPhoneModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="addPhoneModalLabel">Add Phones / Fax</h4>
	      </div>
	      <div class="modal-body">
	      
	      		<div class="row">
		          <div class="col-md-3">
<!-- 		          		<select class="form-control" ng-model="newPhoneLabel" ng-selected="newPhoneLabel"> -->
<!-- 							<option ng-repeat="phoneType in phoneTypes">{{phoneType}}</option> -->
<!-- 					    </select> -->
					    
					    <input type="text"  class="form-control" id="newPhoneLabelId" 
		          		ng-model='newPhoneLabel' placeholder="Label" >
		          		
		          </div>
		          <div class="col-md-6">
		          		<input type="text"  class="form-control" id="newPhoneId" 
		          		ng-model='newPhoneNumber' placeholder="Number" >
		          </div>
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addPhone()" >Add</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
</div>


<!-- New Email Modal -->
<div class="modal fade bs-example-modal-lg" id="addEmailModal" tabindex="-1" role="dialog" 
	aria-labelledby="addEmailModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="addEmailModalLabel">Add Email</h4>
	      </div>
	      <div class="modal-body">
	      
	      		<div class="row">
		          <div class="col-md-3">
		          		<input type="text"  class="form-control" id="newEmailabelId" 
		          		ng-model='newEmailabel' placeholder="Label" >
		          </div>
		          <div class="col-md-9">
		          		<input type="text"  class="form-control" id="newEmailValueId" 
		          		ng-model='newEmailValue' placeholder="Email" >
		          </div>
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addEmail()" >Add</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
</div>
<!-- New Email Modal -->
<div class="modal fade bs-example-modal-lg" id="addEmailHelpModal" tabindex="-1" role="dialog" 
	aria-labelledby="addEmailHelpModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="addEmailHelpModalLabel">How is this email used?</h4>
	      </div>
	      <div class="modal-body">
	      
	      	<div class="row">
	      		
	      	  <div class="col-md-12">
				<p><strong>What shoud the Hospital's email be?</strong></p>
		          <div class="col-md-12">
					<p>Typically it is the the veterinarian's email address.</p>
				 </div>		          
			 </div>		
		      <div class="col-md-12">
					<p><strong>How is the Hospital's email used?</strong></p>
			          <div class="col-md-12">
						<p>It is the email where all the completed reports are sent to.</p>
					 </div>		          
			  </div>
					
				
	          <div class="col-md-12">
				<p><strong>Don't users have email? Shouldn't the emails go to them?</strong></p>
		          <div class="col-md-12">
					<p>Yes users have their own emails. And the report will be sent to them.
					But what if the user is a technician? The veterinarian will not be alerted when the report is done. 
					<br/>That's where the the hospital email comes in.
					An copy of the report is <strong>always sent to the hospital's email.</strong>
					regardless of who submitted the request.</p>
				 </div>		          
			 </div>	
		          
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
</div>
</div>
<!-- New Address Modal -->
<div class="modal fade bs-example-modal-lg" id="addAddressModal" tabindex="-1" role="dialog" 
	aria-labelledby="addAddressModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="addAddressModalLabel">Add Address</h4>
	      </div>
	      <div class="modal-body">
	      
	      		<div class="row">
		          <div class="col-md-3">
		          		<input type="text"  class="form-control" id="newAddressLabelId" 
		          		ng-model='newAddressLabel' placeholder="Label" >
		          </div>
		          <div class="col-md-9">
		          		<input type="text"  class="form-control" id="newAddressId" 
		          		ng-model='newAddress' placeholder="Address" >
		          </div>
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addAddress()" >Add</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
</div>


<div class="modal fade bs-example-modal-lg" id="updateMasterUserModal" tabindex="-1" role="dialog" 
	aria-labelledby="updateMasterUserModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="updateMasterUserModalLabel">{{modalLabel}}</h4>
	      </div>
	      <div class="modal-body">
      		<div class="row">
		          <div class="col-md-12">
					    <p><strong>{{modalCurrentLabel}}:</strong> {{modalCurrentValue}}</p>
		          </div>
		          <div class="col-md-12">
		          		<input type="text"  class="form-control" id="masterUpdateId" 
		          		ng-model='masterUserUpdateValue' placeholder="{{modalNewValuePlaceHolder}}" >
		          </div>
		          <div class="col-md-12">
				    <p ng-show="showPwdHintInModal" class="help-block">Must be at least 5 characters</p>
				    <p ng-show="showEmptyFieldHintInModal" class="help-block">{{modalNewValuePlaceHolder}} cannot be empty</p>
				  </div>
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelMasterUserUpdateModal()" >Cancel</button>
	        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-disabled="isUpateMasterUserSaveBtnEnabled()"  ng-click="updateMasterUser()" >Save</button>
	      </div>
	    </div>
	  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="swtichMasterUserModal" tabindex="-1" role="dialog" 
	aria-labelledby="swtichMasterUserModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="swtichMasterUserModalLabel">Switch Master User</h4>
	      </div>
	      <div class="modal-body">
      		<div class="row">
		          <div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>Master User</th>
								<th>User Name</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Occupation</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="anAmiUser in hospitalUsers">
								<td> 
								<input type="radio" ng-click="updateMasterUserName(anAmiUser.user)" ng-checked="anAmiUser.user==newMasterUser" >
								</td>
								<td>{{anAmiUser.user}}</td>
								<td>{{anAmiUser.firstName}}</td>
								<td>{{anAmiUser.lastName}}</td>
								<td>{{anAmiUser.occupation}}</td>
							</tr>
						</tbody>
					</table>
		          </div>
		          
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelSwitchMasterUser()" >Cancel</button>
	        <button type="button" class="btn btn-danger" data-dismiss="modal"  ng-click="switchMasterUserAndSave()" >Save</button>
	      </div>
	    </div>
	  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="updateHospitalStringModal" tabindex="-1" role="dialog" 
	aria-labelledby="updateHospitalStringModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="updateHospitalStringModalLabel">{{modalLabel}}</h4>
	      </div>
	      <div class="modal-body">
      		<div class="row">
		          <div class="col-md-12">
					    <p><strong>Current Value:</strong> {{hospitalStringCurrentValue}}</p>
		          </div>
		          <div class="col-md-4" ng-show="inputSizeSmall">
		          		<input type="text"  class="form-control" ng-model='newHospitalUpdateValue' placeholder="{{newHospitalUpdatePlaceHolderValue}}" >
		          </div>
		          <div class="col-md-12" ng-show="!inputSizeSmall">
		          		 <textarea class="form-control" rows="6" ng-model="newHospitalUpdateValue"
							    placeholder="{{newHospitalUpdatePlaceHolderValue}}" ></textarea>
		          </div>
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelMasterUserUpdateModal()" >Cancel</button>
	        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-disabled="newHospitalUpdateValue.length<2"  ng-click="updateHospital()" >Save</button>
	      </div>
	    </div>
	  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="updateHospitalModal" tabindex="-1" role="dialog" 
	aria-labelledby="updateHospitalModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="updateHospitalModalLabel">{{modalLabel}}</h4>
	      </div>
	      <div class="modal-body">
      		<div class="row">
		          <div class="col-md-12" ng-show="updateHospitalErrorMsg.length>0">
		          	<ul ng-repeat="anError in updateHospitalErrorMsg">
		          		<li style="color:red">{{anError}}</li>
		          	</ul>
		          
		          </div>
		          <div class="col-md-12">
		          
		          	<table ng-repeat="aHospitalUpdate in hospitalListToUpdate" class="table" >
						<tr>
							<td>{{aHospitalUpdate.label}}</td>
							<td>{{aHospitalUpdate.value}}</td>
							<td><a href="" ng-click="removeHospitalUpdateItem(aHospitalUpdate)">Remove</a></td>
						</tr>
					</table>
		          
		          </div>
		          <div class="col-md-12">
<!-- 					    <p><strong>{{modalCurrentLabel}}:</strong> {{modalCurrentValue}}</p> -->
		          </div>
		          <div class="col-md-4">
		          		<input type="text"  class="form-control" ng-model='newHospitalUpdateLabel' placeholder="{{newHospitalUpdatePlaceHolderLabel}}" >
		          </div>
		          <div class="col-md-6">
		          		<input type="text"  class="form-control" ng-model='newHospitalUpdateValue' placeholder="{{newHospitalUpdatePlaceHolderValue}}" >
		          </div>
		          <div class="col-md-2">
		          		<button type="button" class="btn btn-primary" ng-click="addHospitalUpdateItem()">Add</button>
		          </div>
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelMasterUserUpdateModal()" >Cancel</button>
	        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-disabled="!hospitalUpdated"  ng-click="updateHospital()" >Save</button>
	      </div>
	    </div>
	  </div>
</div>


<div class="modal fade bs-example-modal-lg" id="updateHospitalContractAndAcctModal" tabindex="-1" role="dialog" 
	aria-labelledby="updateHospitalContractAndAcctModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="updateHospitalContractAndAcctModalLabel">{{modalLabel}}</h4>
	      </div>
	      <div class="modal-body">
	      
      		<div class="row">
		          <div class="col-md-12">
					   <p>{{newHospitalUpdatePlaceHolderValue}}</p>
		     	</div> 
		     </div>	
		     
		     <div class="row">   
		          <div class="col-md-6">
		          		<select class="form-control" ng-model="newHospitalUpdateValue" ng-selected="hospitalStringCurrentValue">
						  <option  ng-repeat="aValue in contractOrAcctList">{{aValue}}</option>
						</select>
		          </div>
		      </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelMasterUserUpdateModal()" >Cancel</button>
	        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-disabled="newHospitalUpdateValue==hospitalStringCurrentValue"  ng-click="updateContractOrAccountSize()" >Save</button>
	      </div>
	    </div>
	  </div>
</div>

