<!doctype html>
<html ng-app ="amiadmin">
	<head>
	
		<meta name="csrf-token" content="{{ csrf_token() }}"/>
		<title>Animal Medical Imaging</title>
		<link rel="stylesheet" type="text/css" href="/app/assets/libs/bootstrap/css/bootstrap.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/app/assets/libs/bootstrap/css/bootstrap-theme.min.css"></link>
    	
    	
    	<script src="/app/assets/libs/angular/angular.min.js"></script>
<!--     	<script src="/app/assets/libs/angularthirdparty/flow.min.js"></script> -->
    	<script src="/app/assets/libs/angularthirdparty/ng-flow-standalone.min.js"></script>
<!--     	<script src="/app/assets/libs/ngupload/ng-upload.js"></script> -->

		<!-- load momentJS (required for angular-moment) -->
		<script src="/app/assets/libs/moment/moment-with-locales.min.js"></script>
		
		<!-- load angular-moment -->
		<script src="/app/assets/libs//angular-moment/angular-moment.min.js"></script>

    	<script src="/app/assets/libs/angular/angular-route.min.js"></script>
    	<script src="/app/assets/libs/angular-strap/angular-strap.min.js"></script>
    	<script src="/app/assets/libs/angular-strap/angular-strap.tpl.min.js"></script>
		<script src="/app/assets/libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="/app/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    	<script src="/app/appAdmin.js"></script>
    	<script src="/app/components/amicust/AmiAdminModule.js"></script>
		
	</head>

	<body>
		<div class="container">
			<div>
				<div ng-view=""></div>
			</div>
		</div>
		
	</body>
</html>