<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Animal Medical Imaging</title>
        
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    	<div class="container">
    	
		<div class="row">
		
			<div class="col-md-12">
				<div class="jumbotron">
				   	<div class="row">
				   		<div class = "col-md-1"> <a href="#">About us </a> </div>
				   		<div class = "col-md-2"> <a href="#">Contact us</a> </div>
				   	</div>
			   		
			   		<br/>
			   		<div class="row">
					   	<div class="col-md-9">
						   <p>Animal Medical Imaging is a veterinary radiology practice established 
						   in the Seattle area since 1981. <a href="#">Learn about us and our online services</a></p>
					    </div>
				   </div>
				</div>
			</div>
		  
		
	        <div class="col-md-6">
	        
		        <div class="panel panel-primary">
		        
		        	<div class="panel-heading">
					    <h3 class="panel-title">Sign In</h3>
					 </div>
					 
					 <div class="panel-body">
						<div th:if="${param.error}">
				            Invalid username and password.
				        </div>
				        <div th:if="${param.logout}">
				            You have been logged out.
				        </div>
				        
				         <form th:action="@{/ami/login}" method="post" class="form-inline" >
				        	 <div class="form-group">
							    <label class="sr-only" for="usernameId">User Name</label>
							    <input type="text" name="username" class="form-control" id="usernameId" placeholder="Enter User Name"/>
							</div>
				        	<div class="form-group">
					    		<label class="sr-only" for="pwdId">Password</label>
					    		<input type="password" name="password" class="form-control" id="pwdId" placeholder="Password"/>
							</div>
			
			            	<input class="btn btn-default" type="submit" value="Sign In"/>
			            	
				        </form>
			        </div>
		        </div>
	        </div>
	        
	        
	     </div>   
	   </div>
    </body>
</html>