<div class="row">
	<div class="col-sm-9"></div>
	<div class="col-sm-3">
		<span style="font-weight: bolder; font-size: x-small; color: #990000">Welcome {{userName}}</span>
	</div>
	
</div>

<div class="row">
	<div class="col-sm-9">
		<h3><span class="label label-warning">Case# {{amiCase.caseNumber}}</span> <span ng-show="amiRequest.requestedServices.isStat" class="label label-danger">STAT </span></h3>
	</div>
	
	
	<div class="col-sm-1">
		<div style="height: 18px;"></div>
		<button class="btn btn-info" data-toggle="modal" data-target="#addAmendmentModal" >Add Amendments</button>
	</div>
	
<!-- 	<div class="col-sm-2"> -->
<!-- 		<button class="btn btn-info" data-toggle="modal" data-target="#addAmendmentModal" >Add Amendments</button> -->
<!-- 	</div> -->
</div>

<div class="row">
	<div class="col-sm-12">
<!-- 	   		<span style="font-weight: bold;" ng-show="amiRequest.requestedServices.isInterpretationOnly" > -->
<!-- 	   		Interpretation Only </span> -->
	   		
	   		<div class="page-header" ng-show="amiRequest.requestedServices.isInterpretationOnly">
				<h4>Requested Services:<br/>
					  <ul>
			   			<li><strong><small>Interpretation Only</small></strong></li>
					  </ul>
				</h4>
			
			</div>
			
	   		<div class="page-header" ng-show="!amiRequest.requestedServices.isInterpretationOnly">
			  	<h4>Requested Services:<br/>
					  <ul ng-repeat="aSevice in amiRequest.requestedServices.selectedServices"  >
			   			<li><strong><small>{{aSevice}}</small></strong></li>
					  </ul>
				</h4>
			</div>
	</div>
</div>

<div class="row">
	
	<div class="col-sm-12">
<!-- 	<hr/> -->
	</div>
	<div class="col-sm-4">
		<ul>
			<li>Hospital Name: <b>{{amiCase.hospitalName}}</b></li>
			<li>Veterinarian: <b>{{amiRequest.hospitalAndClientInfo.vet}}</b> </li>
			<li>Requester: <b>{{amiCase.userName}}</b> </li>
		</ul>
	</div>
	
	<div class="col-sm-3">
		<ul>
			<li>Animal Name: <b>{{amiRequest.patientInfo.animalName}}</b></li>
			<li>Client Name: <b>{{amiRequest.hospitalAndClientInfo.clientFirstName}} {{amiRequest.hospitalAndClientInfo.clientLastName}}</b></li>
			<li ng-show="amiRequest.hospitalAndClientInfo.clientId!=''">Client ID: <b>{{amiRequest.hospitalAndClientInfo.clientId}}</b></li>
			<li ng-show="amiRequest.hospitalAndClientInfo.isEmployee"><span class="label label-primary">is an employee</span></li>
		</ul>
	</div>
	
	<div class="col-sm-4">
		<span ng-show="amiCase.hasBeenSavedAndSubmittedToRadiologist!=null">Requested Date: </span><b><span ng-show="amiCase.hasBeenSavedAndSubmittedToRadiologist!=null">{{ amiCase.hasBeenSavedAndSubmittedToRadiologist  | jsonDate: 'dd MMM yyyy, h:mm a' }}</span> </b>
		<br/><span ng-show="amiCase.caseClosed!=null">Closed Date: </span><b><span ng-show="amiCase.caseClosed!=null">{{ amiCase.caseClosed  | jsonDate: 'dd MMM yyyy, h:mm a' }}</span> </b>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="col-sm-12" ng-show="amiRequest.imagesAndDocuments.hasDocumentDeliveredByUpload">
				<span style="color:red;"> {{amiCase.fileUploads.length}} images uploaded</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-6" ng-show="amiRequest.imagesAndDocuments.hasDocumentDeliveredByCarrier">
				<span style="color:red;">Documents delivered by carrier</span>
				
				<span ng-show="amiRequest.imagesAndDocuments.labs != 'Select Lab'">Lab: <b>{{amiRequest.imagesAndDocuments.labs}}</b> </span>&nbsp;
				<span ng-show="amiRequest.imagesAndDocuments.labs == 'Select Lab'"><b>No Lab used</b> </span>&nbsp;
				
				<span ng-show="amiRequest.imagesAndDocuments.labAccount != ''"> Lab Account: <b>{{amiRequest.imagesAndDocuments.labAccount}}</b> </span> 
			
			</div>
<!-- 			<div class="col-sm-6" ng-show="amiRequest.imagesAndDocuments.hasDocumentDeliveredByCarrier"> -->
<!-- 				<span>Lab:</span> <span ng-show="amiRequest.imagesAndDocuments.labs != 'Select Lab'">  <b>{{amiRequest.imagesAndDocuments.labs}}</b> </span>&nbsp; -->
<!-- 				<span> Lab Account:</span> <span>  <b>{{amiRequest.imagesAndDocuments.labAccount}}</b></span> -->
<!-- 			</div> -->
			
			<div class="col-sm-6" ng-show="!amiRequest.imagesAndDocuments.hasDocumentDeliveredByCarrier">
				<span>No documents delivered by carrier</span>
			</div>
		</div>
	</div>
	
	<hr/>
	
	
	<div class="col-sm-12">
		 <pre><b>Notes</b><br/>{{amiRequest.imagesAndDocuments.notes}}</pre>
	</div>
	
</div>

<!-- <br/> -->
<div class="row">

	<div class="col-sm-12">
		<pre><b>Pet Information</b><br/>{{amiRequest.patientInfo.species}} {{amiRequest.patientInfo.breeds}}, {{amiRequest.patientInfo.animalAgeYears}} {{amiRequest.patientInfo.animalAgeMonths}}, {{amiRequest.patientInfo.animalSex}}, {{amiRequest.patientInfo.animalWeight}} {{amiRequest.patientInfo.animalWeightUom}}</pre>
	</div>
</div>	
<div class="row">

	<div class="col-sm-12">
		
		<pre><b>Exam</b><br/>{{amiRequest.vetObservation.exam}}<br/> <span style="color:red" ng-show="amiRequest.vetObservation.anesthetized">anesthetized</span> <span style="color:red" ng-show="amiRequest.vetObservation.sedated">sedated</span> <span style="color:red" ng-show="amiRequest.vetObservation.fasted">fasted</span> <span style="color:red" ng-show="amiRequest.vetObservation.enema">enema</span> <span style="color:red" ng-show="amiRequest.vetObservation.painful">painful</span> <span style="color:red" ng-show="amiRequest.vetObservation.fractious">fractious</span> <span style="color:red" ng-show="amiRequest.vetObservation.shocky">shocky</span> <span style="color:red" ng-show="amiRequest.vetObservation.dyspneic">dyspneic</span> <span style="color:red" ng-show="amiRequest.vetObservation.died">died</span> <span style="color:red" ng-show="amiRequest.vetObservation.euthanized">euthanized</span></pre>
	</div>
	<div class="col-sm-12">
		<pre><b>Tentative Diagnosis</b><br/>{{amiRequest.vetObservation.tentativeDiagnosis}}</pre>
	</div>
</div>

<div class="row" ng-show="amiCase.contract!='Contract'"> 

	<div class="col-sm-12">
		<pre class="alert-warning"><b>Radiographic Interpretation</b><br/><br/>{{amiCase.radiographicInterpretation}}</pre>
	</div>
</div>

<div class="row">


	<div class="col-sm-12">
		<pre class="alert-success"><b>Radiographic Impression</b><br/><br/>{{amiCase.radiographicImpression}}</pre>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<pre class="alert-info"><b>Recommendation</b><br/><br/>{{amiCase.recommendation}}</pre>
	</div>
</div>
<div class="row" >
	<div class="col-sm-12" ng-show="amiCase.amendments.length>0">
	
		<table style="width:100%">
			<tr>
				<th>Amendments</th>
			</tr>
			
			<tr ng-repeat="anAmendment in amiCase.amendments" >
				<td>
					<pre class="alert-danger"><span  style="font-weight: bold;">{{$index+1}}: <span ng-show="anAmendment.customerAmendment" class="label label-danger">{{anAmendment.hospitalName}}</span><span ng-show="!anAmendment.customerAmendment" class="label label-primary"> {{anAmendment.hospitalName}}</span>{{anAmendment.firstName}} {{anAmendment.lastName}}, {{anAmendment.occupation}}, {{anAmendment.creationDate  | jsonDate: 'dd MMM yy, h:mm a' }}</span><br/>{{anAmendment.newAmendment}}</pre>
				</td>
			</tr>
		</table>
		
	</div>
	<div class="col-sm-12" ng-show="amiCase.amendments.length==0">
		<span style="color:red; font-weight: bold;">No Amendments</span>
	</div>
</div>
	
<div class="row">
	<div class="col-sm-12" ng-show="amiCase.fileUploads.length==0">
		<p><b>No Images uploaded</b> <span ng-show="amiRequest.requestedServices.isInterpretationOnly">, The images have been sent by carrier.</span></p>
	</div>
	<div class="col-sm-12" ng-show="amiCase.fileUploads.length>0">
	
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		  Toggle {{amiCase.fileUploads.length}} Images
		</button>
		<div class="collapse" id="collapseExample">
			  <div class="well">
				<p><b>Images</b></p>
				<table class="table">
					<tr ng-repeat="aFileUpload in amiCase.fileUploads" >
						<td>
							{{$index+1}}
						</td>
						<td >
							<a href="http://localhost:8080/{{aFileUpload.fileName}}" download>{{aFileUpload.fileName}}</a>
						</td>
					</tr>
				</table>
			 </div>
	   </div>
		<p></p>
  </div>
	
</div>


<div class="modal fade bs-example-modal-lg" id="addAmendmentModal" tabindex="-1" role="dialog" 
	aria-labelledby="addAmendmentModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="addAmendmentModalLabel">Add Amendment</h4>
	      </div>
	      <div class="modal-body">
      		<div class="row">
		          <div class="col-md-12">
					    
					    <textarea class="form-control" rows="5" ng-model="newAmendment" placeholder="Add Amendment here" ></textarea>
		          </div>
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addAmendment(newAmendment)" >Save</button>
	      </div>
	    </div>
	  </div>
</div>

